@import "~bootstrap/scss/bootstrap.scss";
.lista{
    color: blue;
}
.id {
    width: 50px;
}

.bg--negro{
    background-color: black;
    color: white
}

.oscuro{
    background-color: #202121;
}
body{
    background-color: #202121;
}
.table{
    margin-bottom: 0px;
}
.border-top{
    border-color: #585858 !important;
}
.botones{
    font-size: 20px;
    position: sticky;
    bottom: 0px;
}
.active{
background-color: rgba(117, 131, 68, 0.575);
 }  
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
